<div class="container">                       
            <!-- <img class="profile-image img-responsive pull-left" src="assets/images/profile.png" alt="James Lee" /> -->
            <div class="profile-content pull-left">
                <h1 class="name">Rafael Brandão</h1>
                <h2 class="desc">Developer</h2>   
                <ul class="social list-inline">
                    <li><a href="https://www.linkedin.com/in/rafael-brand%C3%A3o-85780a37/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/brandaorafael"><i class="fa fa-github-alt"></i></a></li>               
                </ul> 
            </div><!--//profile-->
            <!-- <a class="btn btn-cta-primary pull-right" href="http://themes.3rdwavemedia.com/" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>               -->
        </div><!--//container-->