<div class="container">
    <img ng-if='photo' class="profile-image img-responsive pull-left" src="photo" alt="James Lee" />
    <div class="profile-content pull-left">
        <h1 class="name">{{$scope.name}}</h1>
        <h2 class="desc">{{role}}</h2>
        <ul class="social list-inline">
            <li ng-if='twitter' ><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li ng-if='gplus' ><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li ng-if='linkedin' ><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li ng-if='github' ><a href="#"><i class="fa fa-github-alt"></i></a></li>
            <li ng-if='hackernews'  class="last-item"><a href="#"><i class="fa fa-hacker-news"></i></a></li>
        </ul>
    </div><!--//profile-->
    <a ng-if="email" class="btn btn-cta-primary pull-right" href="mailto:{{email}}" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>
</div><!--//container-->