<aside class="languages aside section">
	<div class="section-inner">
		<h2 class="heading">Languages</h2>
		<div class="content">
			<ul class="list-unstyled">

				<li class="item" ng-repeat='language in rootScope.languages'>
					<span class="title"><strong>{{language.language}}:</strong></span>
					<span class="level">{{language.level}} <br class="visible-xs"/>
						<i class="fa fa-star" ng-if="language.stars >=1"></i> 
						<i class="fa fa-star" ng-if="language.stars >=2"></i> 
						<i class="fa fa-star" ng-if="language.stars >=3"></i> 
						<i class="fa fa-star" ng-if="language.stars >=4"></i> 
						<i class="fa fa-star" ng-if="language.stars >=5"></i> 
						<i class="fa fa-star-half" ng-if="language.stars % 1 != 0"></i>
					</span>
				</li><!--//item-->

			</ul>
		</div><!--//content-->
	</div><!--//section-inner-->
</aside><!--//section-->