<section class="experience section">
	<div class="section-inner">
		<h2 class="heading">Work Experience</h2>
		<div class="content">

			<div class="item" ng-repeat="experience in rootScope.experiences">
				<h3 class="title">{{experience.role}} - <span class="place"><a href={{experience.url}} target="_blank">{{experience.company}}</a></span>
					<span class="year">({{experience.start}} - {{experience.end}})</span>
				</h3>
				<p>{{experience.description}}</p>
			</div><!--//item-->

		</div><!--//content-->
	</div><!--//section-inner-->
</section><!--//section-->